.horizontal-line {
    background-color: #dadada;
    height: 3px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFF;
    font-family: "微软雅黑","Tahoma",'Arial',"宋体";
    font-size: 14px;
    color: #595959;
    min-width: 768px !important;    
}

.navbar-brand {
    float: none;
}

@media (min-width: 768px){
    .navbar-nav {
        float: right;
        margin-top: 20px;
    }    
}

.navbar {
    margin-bottom: 5px;
}

#top .nav > li.active {
    background-color: #0C65B3;    
}

#top .nav > li.active > a{
    color: #FFF;
}

section.what-we-do {
padding: 40px 0;
text-align: center;
}

.section-title {
    width: 260px;
    text-align: center;
    margin: auto;
    font-size: 18px;
}

@media (min-width: 768px){
    .section-title {
        width: 600px;
        font-size: 22px;
    }
    
    .section-title:before {
    width: 600px;
}

.section-title:before {
content: "";
display: block;
border-top: solid 1px #333;
height: 1px;
position: absolute;
margin-top: 14px;
z-index: 1;
width: 260px;
}

.section-title span {
background: #fff;
padding: 0 20px;
position: relative;
z-index: 5;
}

.intro-block > h2 {
    border-bottom: 2px solid #52ac26;
    color: #0765b3;
    padding-bottom: 4px;
}

.intro-block > h2 .glyphicon {
    top: 3px;
    margin-right: 10px;
    color: #52ac26;    
}

#products {
    margin-bottom: 20px;
}

#products .product-intro {
/*    height: 200px;
*/}

#products .product-intro > h3 {
    
}

#products .product-intro > h3 .glyphicon {
    top: 4px;
    margin-right: 12px;
    color: #52ac26; 
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

#myCarousel .carousel-caption {
padding-bottom: 120px;
}


/*footer*/

#footer{
    margin-top: 30px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}


#copy-right, #contact{
    text-align: center;
}